.navbar{
    justify-content: space-between;
}

span{
    padding-right: 1rem;
}

.mat-card{
    margin: 50px 50px;
    padding: 50px 50px ;
    background-color:rgb(243, 240, 240);
    border-radius: 2ch;
    font-size: 20px;
}

button{
    font-size: 20px;
}
.example-form-field {
    width: 70%;
    justify-content: space-between;
    padding : 2rem;
  }
  
  .url{
    justify-content: space-between;
  }